/* mobile */

.project-section {
    padding-top: 100px !important;
   margin-bottom: 100px !important;
    background:#fff!important;
  }
  .project-heading {
    color: black !important;
    font-size: 2.5em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
  }

  .project-card {
    padding: 10px 10px 10px 10px;
    height: auto !important;
  }
  
  .project-card-view {
    box-shadow:black !important;
    color:#fff !important;
    background-color: teal !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
  }
  .project-card-view:hover {
    transform: scale(1.02) !important;
    box-shadow: black !important;
  }
  
  .card-img-top {
    padding: 5px !important;
    margin-left: 0px;
    opacity: 0.8 !important;
    border-radius: 10px !important;
  }

 

  @media (max-width: 767px) {

   

  }
  
  
  
  