
/* for mobile */

.skills-h1
  {
     margin: 60px;
     font-size: 50px;
     font-weight: bold;
  }

.tech-icons {
    font-size: 6em !important;
    margin: 15px !important;
    opacity: 0.93 !important;
    vertical-align: middle !important;
    height: 150px;
    width: 160px;
    text-align: center !important;
    border-radius: 50% !important;
    display: table !important;
    box-shadow: 4px 5px 4px 3px teal !important;
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important;
   
    
  }

  .tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid teal !important;
  }


  .tech-icon-images {
    padding: 10px !important;
    line-height: 1.6 !important;
  }
  
  
  /* @media (max-width: 768px) {
    
  
  
  }
  
   */