/* for mobile */

.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


.home-section {
  background: teal;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}

.content {
  padding: 9rem 0 1rem !important;
  color: #fff;
  text-align: left;
}

.home-header h1 {
  padding-top: 10px !important;
  margin-left: -25px;
}



.heading {
  font-size: 2.4em !important;
  padding-left: 63px !important;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 4rem !important;

}

.Typewriter__wrapper {
  font-size: 2 !important;
  color: #fff !important;
  font-weight: 500 !important;

}

.Typewriter__cursor {
  font-size: 2 !important;
  color: teal !important;
  margin-top: 6px;
}

.home-about-body {
  font-size: 23px;
  margin-left: 9px;
  margin-top: 50px;
 
  
}

.my-img
{
  width: 25rem;
   margin-top: -50px;
   height: 25rem;
  margin-bottom: -13px;
}




 @media (min-width: 768px) {
  .home-header h1 {
    padding-top: 10px !important;
    margin-left: 35px;
  }
  .home-about-body
  {
    font-size: 32px;
    margin-left: 20px;
  }

  .home-section {
    background: black;

} 

.my-img
{
  width: 50rem;
  height: 45rem;
  margin-top: -100px;
}
 }